/* Reset default browser styles */
html, body, h1, h2, h3, p, ul, ol, li, a, figure, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2em;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

ul,
ol {
    margin-bottom: 20px;
    padding-left: 20px;
}

ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

ol li {
    list-style-type: decimal;
    margin-bottom: 10px;
}

img {
    width: 70%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* img:hover {
    transform: scale(1.1);
} */

video {
    width: 70%;
    height: auto;
    display: block;
    margin: 20px auto; 
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
}

/* video:hover {
    transform: scale(1.1);
} */

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff;
    color: white;
    margin-top: 40px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    main {
        padding: 0 10px;
    }
}

